*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

/*Tipo de letra y color de fondo*/
body{
    font-family: sans-serif;
    background-color: #f2c166;
}

/*Encabezado*/
header{
    display: flex;
    height: 70px;
    background-color: #BF4904;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}
/*Logo y nombre de la tienda*/
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

#tienda{
    padding-right: 20px;
    font-family: sans-serif;
}
/*Decorando el menu*/
.menu{
    display: flex;
    align-items: center;
    max-width: 120px;
    margin: auto;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
    text-decoration: none;
}

/*Decoracion de movimiento*/
nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
    padding: 14px;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background-color: #591202;
    box-shadow: 0px 0px 10px 0px;
}

/*Submenú*/
nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #BF4904;
    box-shadow: 0px 0px 10px 0px;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0; 
    z-index: 10;
    transition: 300ms ease;
}
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before{
    content: '';
    width: 2px;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #BF4904;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    
    text-decoration: none;
    list-style: none;
    display: block;
    color: #F2F2F0;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}
nav ul li ul li a:hover{
    background-color: #591202;
    transform: scale(1.2);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px;
}